/* Navbar.css */
.navbar {
  background-color: #b2d8d8; /* Svijetloplava boja (možete promijeniti vrijednost prema želji) */
  height: 60px; /* Visina navigacijske trake (prilagodite prema potrebi) */
  display: flex;
  justify-content: center;
  align-items: center;
  /* Dodajte ostale stilove prema potrebi (npr. font-size, font-family, itd.) */
}
